body {
  background: #f8f9fb;
  font-size: 62.5%;
  margin: 0;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  flex-direction: column;
}

.ml_sm {
  margin-left: 1rem;
}

.inline_block {
  display: inline-block;
}
